@model DepartmentsWeb.Models.Dto.DepartmentsListDto

@if (Model.Departments.Where(x => x.ParentId == Model.Seed).Any())
{
    <ul class="list-inline list-group-numbered list-group-flush">
        @foreach (var node in Model.Departments)
        {
            if (node.ParentId ==  Model.Seed)
            {                 
                @if (@node.IsActive)
                {
                    <li class="list-group-item">@node.Name - Активно</li>
                }
                else
                {
                    <li class="list-group-item"><mark class="alert-danger">@node.Name  - Заблокировано</mark></li>
                }
                DepartmentsWeb.Models.Dto.DepartmentsListDto inner = new DepartmentsWeb.Models.Dto.DepartmentsListDto
                {
                    Seed = node.DepartmentId,
                    Departments = Model.Departments
                };
                <ul>
                    @Html.Partial("_TreeList", inner)
                </ul>
            }
        }
    </ul>
}
