@{
    ViewData["Title"] = "Home Page";
}

@model DepartmentsWeb.Models.Dto.DepartmentsListDto
@* @Html.Partial("_TreeList", Model) *@
<br />
<br />
<div class="container p-4 border ">
    <div class="row pb-2 align-items-center">
        <div class="col">
            <h2 class="text-primary">Структура подразделений</h2>
        </div>
        <div class="col">
            <form asp-action="Index" class="row g-3">
                <div class="col-auto">
                    <label for="searchFilter" class="visually-hidden">Наименование</label>
                    <input type="text" class="form-control" id="searchFilter" name="SearchString" placeholder="Наименование">
                </div>
                <div class="col-auto ">
                    <button type="submit" class="btn btn-outline-primary">Поиск</button>
                </div>
            </form>
        </div>
    </div>
    <table class="table">
        <tbody>
            @Html.Partial("_TreeList", Model)
        </tbody>
    </table>

    <div>
        <form asp-action="Synchronize" enctype="multipart/form-data">
            <input type="hidden" name="Synchronize" />
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <input class="form-control" type="file" id="formFile" name="file">
            </div>
            <div class="col pt-1">
                <button class="btn btn-outline-primary">Синхронизация данных</button>
            </div>
        </form>
    </div>    
</div>

